@import "tailwindcss";

:root {
  --bg-color: #0c0c1d;
  --text-color: #ffffff;
  --accent-color: #6f6fff;
  --font-sans: 'Inter', sans-serif;
}

body {
  @apply bg-[var(--bg-color)] text-[var(--text-color)] font-sans overflow-x-hidden;
}

html {
  scroll-behavior: smooth;
}